<div class="appointment-table-container"></div>
  <h2>Appointments List</h2>
  <table class="appointment-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Patient Id</th>
        <th>Doctor Id</th>
        <th>Appointment Date</th>
        <th>Purpose</th>
      </tr>
    </thead>
    <tbody>
      @for (appointment of appointments; track appointment) {
        <tr>
          <td>{{ appointment.id }}</td>
          <td>{{ appointment.patientId }}</td>
          <td>{{ appointment.doctorId }}</td>
          <td>{{ appointment.appointmentDate }}</td>
          <td>{{ appointment.purpose }}</td>
        </tr>
      }
    </tbody>
  </table>
