 .appointment-table-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .appointment-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .appointment-table th, .appointment-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .appointment-table th {
    background-color: #4e08036c;
    color: white;
  }
  
  .appointment-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .appointment-table tbody tr:hover {
    background-color: #f1f1f1;
  }
