<div class="app-container">
  <!-- Header Section -->
  <header class="app-header">
    <h1>HMS - Healthcare Management System</h1>
    <nav>
      <a routerLink="/" class="home-link">Home</a>
    </nav>
  </header>

  <!-- Main Content Area with Sidebar and Router Outlet -->
  <div class="main-content">
    <!-- Left Sidebar -->
    <aside class="sidebar">
      <a class="sidebar-button" routerLink="patient" routerLinkActive="active">
        Patients
      </a>
      <a class="sidebar-button" routerLink="doctor" routerLinkActive="active">
        Doctors
      </a>
      <a class="sidebar-button" routerLink="department" routerLinkActive="active">
        Departments
      </a>   <a class="sidebar-button" routerLink="appointment" routerLinkActive="active">
          Appointments
        </a>
        <a class="sidebar-button" routerLink="billing" routerLinkActive="active">
          Billings
        </a>
        <a class="sidebar-button" routerLink="admin" routerLinkActive="active">
          Admins</a>
          <a  
          class="sidebar-button"routerLink="book"routerLinkActive="active">
        </a>

         
    </aside>

    <!-- Main View (Router Outlet) -->
    <section class="view-container">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>